.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100vw;
}
.ipl-logo {
  width: 60px;
  height: 60px;
}
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.heading {
  color: #ffffff;
  margin-left: 1%;
}
.team-card-list {
  display: flex;
  flex-direction: row;
  width: 95%;
  flex-wrap: wrap;
}
